#menu, button{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    cursor: pointer;
}

h2, h1{
    font-style: oblique;
    text-align: center;
    color: orange;
}

menu{
    align-items: center;
    text-align: center;
}

